:root{
    --brown-200: #9c7a3a;
    --brown-300: #503d1b;
    --beige-300: #d6daa3;
    --white-300: #fff;
    font-family: 'Montserrat', sans-serif;
    

}

body{
    background-color: beige;
    font-family: 'Montserrat', sans-serif;
    color:#503d1b;
    font-size: 1rem;
   

}

p{
    background-color: beige;
    text-align: center;
    color: var(--brown-300);
    font-size: 1rem;
    font-weight: 400;
    padding: 2%;
    margin:0% !important;
}

h1{
    background-color: beige;
    text-align: center;
    font-size: medium;
    color:#503d1b;
    padding: 1%;
}
.menu{
justify-content: space-evenly;
background-color: beige;
align-items: center;
display: flex;
padding: 1%;
}

.botaoMenu{
    color:#503d1b;
    font-size: 1rem;
    background-color:beige;
    text-decoration: none;

}

.container-sobre-mim{
   
    background-color: beige;
    }
    
.content{
   align-items: center;
    background-color: beige;

        
        
}    