:root {
    --brown-200: #9c7a3a;
    --brown-300: #503d1b;
    --beige-300: #d6daa3;
    --white-300: #fff;
    font-family: 'Montserrat', sans-serif;


}

body {
    background-image: url('img/marmore.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;

}

p {
    text-align: center;
    color: var(--brown-300);
    font-size: 1rem;
    font-weight: 400;
    padding: 2%;
    margin: 0% !important;
}

h1 {

    text-align: center;
    color: #503d1b;
    padding: 1%;
}



.menu {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    padding: 3%;
}

.botaoMenu {
    color: #503d1b;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;

}


.botaoMenu:hover {
    background-color: #b2a485;
    color: #fff;

}

.gabi-color {
    background-color: #b2a485;
    border-radius: 70px;
    border-color: #b2a485;
}

.gabi-color:hover {
    background-color: #fff;
    color: var(--brown-300);
    border-color: #fff;
}

.btn-big {
    font-size: 25px;
    width: 400px;
    background-color: #b2a485;
    border-radius: 70px;
    border-color: #b2a485;
}

.btn-big:hover {
    background-color: #fff;
    color: var(--brown-300);
    border-color: #fff;
}

.container-sobre-mim {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}

.content {
    align-items: center;
    padding: 50px 0;
}

.modal {
    opacity: 0.8;
}

.divider {
    height: 3px;
    width: 200px;
    margin: 0px auto 50px;
    background-color: #503d1b;
    border-radius: 50px;
}

.social {
    margin: 0 20px;
}

.imagem-procedimento {
    border-radius: 5px;
    border-color: #b2a485;
}

@media screen and (max-width: 768px) {

    body {
        font-size: 14px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .container {
        width: 80%;
        font-size: 14px;
    }

}