:root{
    --brown-200: #9c7a3a;
    --brown-300: #503d1b;
    --beige-300: #d6daa3;
    --white-300: #fff;
    font-family: 'Montserrat', sans-serif;

}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

p{
    color: var(--brown-300)
    font-size: 1rem;
    font-weight: 400;
}

h1{
    color: var(--brown-300)
}
.menu{
justify-content: space-evenly;
background-color: beige;
align-items: center;
display: flex;
padding: 1%;
}


.botaoMenu{
    text-decoration: none
}